# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Jupyter Notebook
.ipynb_checkpoints

# vscode
.vscode/

## Sensitive things:
# 1) API keys
data/api_key.py
# 2) Customer info
data/*.csv
data/*.json
# 3) Temp customer info
data/customers.csv

# Temp list of customer IDs that need routing
data/visit.json

# Logs
*.log

# Our webdriver, used to save our map as an image
chromedriver.exe

# Notes to self
notes.md

# Customer database
customers_db.json

# Solution files
solution.*