# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Jupyter Notebook
.ipynb_checkpoints

# vscode
.vscode/

## Sensitive things:
# 1) API keys
data/api_key.*

# Temp list of customer IDs that need routing
data/visit.json

# Logs
*.log

# Notes to self
notes.md

# Customer database
data/customers_db.json

# Solution files
solution.*